/* Establecer variables para colores comunes */
:root {
    --header-color: #AFC644;
    --link-color: black;
    --link-background: #cfe415;
}

body {
    background: url(https://enriqueap1.github.io/fondo/Fondo-indice.jpg);
    color: var(--link-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; /* Eliminar márgenes predeterminados del cuerpo */
}

header {
    text-align: center;
    background-color: var(--header-color);
    padding: 20px;
}

nav {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: var(--link-color);
    background-color: var(--link-background);
    padding: 10px 15px;
    text-decoration: none;
    margin: 0 10px; /* Ajustar el margen para uniformidad */
}

section {
    text-align: center;
}

img {
    margin-top: 20px;
    width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra ligera */
}
