body {
    background: url(https://enriqueap1.github.io/fondo/imagenes/fondop.jpg);
    color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

header {
    text-align: center;
    background-color: #34F7B8;
    padding: 20px;
}

section {
    padding: 20px;
}

h1 {
    font-size: 50px;
}

* {
    padding-left: 10pt;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    display: block;
    margin: 20px auto;
}

a {
    color: black;
    padding-left: 5%;
    padding-bottom: 3%;
    background-color: #34F7B8;
    display: inline-block;
    text-decoration: none;
}

p {
    color: black;
    background-color: #4cafb0;
    padding: 10px;
}

table {
    background-color: #8ccccc;
    width: 100%;
    margin-bottom: 20px;
}

.caja {
    width: fit-content;
    margin: 20px auto;
}
